<h4 class="text-center"><span class="text-muted">1. Build Survey</span> | <span>2. Build Questions</span></h3>
<hr>
<div class="title row">
  <h4 class="col-sm-2 col-lg-1"><strong>Title:</strong></h4>
  <h4 class="col-sm-10 col-lg-11"><%= survey.title %></h4>
</div>
<div class="description row">
  <p class="col-sm-2 col-lg-1"><strong>Description:</strong></p>
  <p class="col-sm-10 col-lg-11"><%= survey.description %></p>
</div>
<hr>
